.head-logo img{
    width: 100px;
    color: white;
}

.head-button{
    background-color: #F9A51A;
    color: black;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;   
    font-weight: 700; 
}

.search-bar{
    background-color: rgba(255, 255, 255, 0.349);
    border: 2px solid white;
    border-radius: 3px;
    padding: 3px 20px;
    color: white;
}

::placeholder {
    color: white;
  }

  .head-menu{
      text-decoration: none;
      color: white;
      margin-right: 20px;
      font-weight: 700;
      margin-top: 3px;
  }

  .head-menu:hover {
      color: rgb(194, 194, 194);
      outline: none;
  }

  .main-banner{
    display: flex;
    position: absolute;
    top: 0;
    z-index: -1;
    background-size: cover;
    max-width: 100%;
}