.login-head-logo img{
    width: 100px;
    color: black;
}

.login-head-button{
    background-color: #F9A51A;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;   
    font-weight: 700; 
}

.login-search-bar{
    background-color: rgba(255, 255, 255, 0.349);
    border: 2px solid black;
    border-radius: 3px;
    padding: 3px 20px;
    color: black;
}

.login-search-bar::placeholder {
    color: rgb(0, 0, 0);
  }

  .login-head-menu{
      text-decoration: none;
      color: black;
      margin-right: 20px;
      font-weight: 700;
      margin-top: 3px;
  }

  .login-head-menu:hover {
      color: rgb(109, 109, 109);
      outline: none;
  }

  .login-main-banner{
    display: flex;
    position: absolute;
    top: 0;
    z-index: -1;
    background-size: cover;
    max-width: 100%;
}