.main-slider{
    display: flex;
    float: left;
    max-width: 20%;
    margin-left: 4%;
    margin-top: 20px;
    border-radius: 200px;
}
.main-slider img{    
    width: 100%;
    position: relative;
    cursor: pointer;
}
.text h4{
    position: absolute;
}